@model Klinika.DAL.Models.Prijem

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj Prijem</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumVrijeme" class="control-label"></label>
                <input asp-for="DatumVrijeme" class="form-control" />
                <span asp-validation-for="DatumVrijeme" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HitniPrijem" /> @Html.DisplayNameFor(model => model.HitniPrijem)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PacijentID" class="control-label"></label>
                <select asp-for="PacijentID" class="form-control" asp-items="ViewBag.PacijentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="LjekarID" class="control-label"></label>
                <select asp-for="LjekarID" class ="form-control" asp-items="ViewBag.LjekarID"></select>
            </div>
           
       
            <div class="form-group">
                <input type="submit" value="Spasi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
